*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shop_container{
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
}

.shop_container .product{
    display: inline-block;
    position: relative;
    padding: 5px;
    width: calc(100% / 3);
    margin: 1rem 0;
}


/* images styles */
.shop_container .product img{
    width: 100%;
    cursor: pointer;
}

.img2{
    display: none;
}

/* images hover effect */
.image_wrapper:hover .img1{
    display: none;
}

.image_wrapper:hover .img2{
    display: inline-block;
}


/* discount container */
.shop_container .discount_container{
    position: absolute;
    bottom: 18%;
    left: 5px;
}

.shop_container .discount_container span{
    color: white;
    padding: .25rem .5rem;
    text-transform: capitalize;
    font-size: .75rem;
}

.discount_container .discount{
    background-color: red;
}

.discount_container .sustainability{
    background-color: green;
}

/* if empty do not display banners */
.discount:empty,
.sustainability:empty{
    display: none;
}


/* heart container */
.shop_container .heart_box{
    position: absolute;
    font-size: 1.5rem;
    top: 15px;
    right: 5px;

    cursor: pointer;
    padding: .5rem 1rem;
    background-color: white;
}

/* product description */
.shop_container .brand{
    text-transform: capitalize;
    font-size: .75rem;
}

.shop_container .product_name{
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: capitalize;
    cursor: pointer;
}

.shop_container .product_name:hover{
    text-decoration: underline;
}

.shop_container .price{
    color: red;
    font-size: .85rem;
    font-weight: 900;
}

.shop_container .non_discounted_price{
    color: black;
    margin-left: 10px;
    text-decoration-line: line-through;
}